@font-face {
    font-family: myFirstFontRegular;
    /*src: url(gt-pressura-regular.woff);*/
    src: url("/usr/share/fonts/OTF/MetaSerifPro-Book.otf") format("opentype");
}

@font-face {
    font-family: myFirstFontBold;
    /*src: url(gt-pressura-bold.woff);*/
    src: url("/usr/share/fonts/OTF/MetaSerifPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: myFirstFontLight;
    /*src: url(gt-pressura-light.woff);*/
    src: url("/usr/share/fonts/OTF/MetaSerifPro-Light.otf") format("opentype");
}

* {
    cursor: none !important;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

body {
    text-align: center;
}

h1 {
    font-size: 100px;
    /*text-shadow: 2px 2px #ff0000;*/
    font-family: myFirstFontLight;
    margin-bottom: 0px;
}

h2 {
    font-size: 60px;
    /*text-shadow: 2px 2px #ff0000;*/
    font-family: myFirstFontLight;
    margin-top: 0px;
}

p {
    font-size: 30px;
    font-family: myFirstFontRegular;
}

.Bottom {
    position: absolute;
    bottom: 100px;
}

#htllogo {
    left: 100px;
}

#musikschulelogo {
    right: 100px;
}

.logo{
    position: absolute;
    bottom: 100px;
    width: 300px;
}

#klaviatur {
    z-index: 0;
    position: absolute;
    left: 1470px;
    top: 415px;

    height: 150px;
}

#notenschrift {
    position: absolute;
    left: 200px;
    top: 325px;
}

#Header {
    font-size: 100px;
    /*text-shadow: 2px 2px #ff0000;*/
    font-family: myFirstFontLight;
    margin-bottom: -20px;
}

.Content {
    margin-left: 25%;
    width: 50%;
    text-align: center;

}

#loader {
    margin-top: 100px;
    margin-left: 42%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#ContentText {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 550px;
    left:0px;
    font-size: 30px;
    font-family: myFirstFontRegular;
}

@keyframes notenschrift_animation {
    from {left: 200px}
    to {left: -1300px}
}

#coverDiv {
    position: absolute;
    width: 1500px;
    height: 300px;
    left: 200px;
    top: 325px;
    background-color: white;
    animation-name: notenschrift_animation;
    animation-delay: 1.5s;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}